ion-card {
    width: 100%;
    margin: 0;
  }
  
  ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 1em;
    color: var(--ion-color-primary);
  }
  
  .expired {
    color: var(--ion-color-danger);
  }