<!-- Regular Navbar for Larger Screens -->
<ion-header *ngIf="showNavbar" [ngClass]="{ 'nav-hidden': isNavbarHidden }">
  <ion-toolbar>
    <ion-title>Admin Panel</ion-title>
    <ion-buttons slot="end" class="desktop-navbar">
      <ion-button routerLink="/admin-dashboard">Dashboard</ion-button>
      <ion-button routerLink="/admin-inventory-management">Inventory</ion-button>
      <ion-button routerLink="/admin-customer-management">Customer Management</ion-button>
      <ion-button routerLink="/admin-sales-report">Sales Report</ion-button>
      <ion-button routerLink="/admin-order-management">Order Management</ion-button>
      <ion-button routerLink="/admin-user-management">User Management</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Mobile Menu -->
<ion-menu side="start" menuId="first" contentId="main-content" *ngIf="showNavbar">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/admin-dashboard">Dashboard</ion-item>
      <ion-item routerLink="/admin-inventory-management">Inventory</ion-item>
      <ion-item routerLink="/admin-customer-management">Customer Management</ion-item>
      <ion-item routerLink="/admin-sales-report">Sales Report</ion-item>
      <ion-item routerLink="/admin-order-management">Order Management</ion-item>
      <ion-item routerLink="/admin-user-management">User Management</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Enable swipe gesture for the menu -->
<ion-router-outlet id="main-content"></ion-router-outlet>
