<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="sparkles-outline"></ion-icon>
      Best Brightness</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="navigateToCart()">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Product" (ionChange)="searchProducts()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterByCategory(selectedCategory)">
            <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="3">
        <ion-item>
          <ion-label>Sort By</ion-label>
          <ion-select [(ngModel)]="sortOption" (ionChange)="sortProducts(sortOption)">
            <ion-select-option value="name">Name</ion-select-option>
            <ion-select-option value="price_low_high">Price: Low to High</ion-select-option>
            <ion-select-option value="price_high_low">Price: High to Low</ion-select-option>
            <ion-select-option value="rating">Rating</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let product of filteredProducts">
        <ion-card class="promo-card">
          <!-- <img [src]="product.image" [alt]="product.name" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <ion-badge color="danger" *ngIf="product.isSale">SALE</ion-badge>
            </ion-card-subtitle>
            <ion-card-title>{{ product.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="price-rating">
              <span class="price">R{{ product.price.toFixed(2) }}</span>
              <ion-icon name="star" *ngFor="let star of [1, 2, 3, 4, 5]" [color]="star <= product.rating ? 'warning' : 'medium'"></ion-icon>
            </div>
            <ion-button  expand="block" fill="clear" (click)="addToCart(product)">Add to Cart</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
