<ion-content class="body">
  <ion-card [class.expand]="isRegister">
    <ion-card-header>
      <ion-card-title>{{ isRegister ? 'Register' : 'Login' }}</ion-card-title>
      <ion-card-subtitle>{{ isRegister ? 'Fill the registration form' : 'Enter your login details' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Fields for Login -->
      <div *ngIf="!isRegister">
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="loginData.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter password" [(ngModel)]="loginData.password" type="password"></ion-input>
        </ion-item>
      </div>

      <!-- Fields for Registration -->
      <div *ngIf="isRegister">
        <ion-item>
          <ion-input label="Username" labelPlacement="floating" placeholder="Enter your username" [(ngModel)]="userData.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="First Name" labelPlacement="floating" placeholder="Enter your first name" [(ngModel)]="userData.first_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Last Name" labelPlacement="floating" placeholder="Enter your last name" [(ngModel)]="userData.last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="userData.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter password" [(ngModel)]="userData.password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Confirm Password" labelPlacement="floating" placeholder="Confirm password" [(ngModel)]="userData.confirmPassword" type="password"></ion-input>
        </ion-item>
      </div>

      <!-- Submit Button -->
      <ion-button expand="full" (click)="submitForm()">{{ isRegister ? 'Register' : 'Login' }}</ion-button>

      <!-- Checkbox to toggle between Login and Register -->
      <ion-item lines="none">
        <ion-label>Register</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="isRegister"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
