<ion-header class="header">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="forgot-password-content">
  <div class="card">
    <ion-icon name="mail-outline" class="icon-animation"></ion-icon>
    <h2>Reset Your Password</h2>
    <p>Enter your email address to receive a password reset link.</p>
    
    <form (submit)="sendPasswordReset($event)">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Send Reset Link
      </ion-button>
    </form>
  </div>
</ion-content>
